.ch-tab {
  display: flex; border-bottom: 1px solid $ch-gray-300;
  &__item {
    padding: 12px 24px; font-weight: 600; color: $ch-gray-300; position: relative;
    &.is-active {
      color: $ch-gray-800;
      &::after { content: ''; position: absolute; bottom: -1px; left: 0; right: 0; height: 2px; background-color: $ch-gray-800; }
    }
  }
}
