body { font-family: 'Pretendard', sans-serif; color: $gray800; line-height: 1.5; }
.a11yHidden { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
html { display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));}
